<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Learning Hub</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>

<body>
  {% include "header.html" %}
  <!-- center section start -->
  <div class="container p-4 mt-3 0 bg-img">
    <div class="row">
      <div class="col-md-8">
        <h1 class=" line text-danger mt-5">Welcome to The Learning Hub</h1>
        <p class=" line text-danger fs-3">Your Gateway to Knowledge and Success</p>
        <div>
          <a href="{% url 'courses' %}" class="btn btn-primary btn-lg ">Get Started</a>
          <a href="{% url 'contact' %}" class="btn btn-secondary btn-lg">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/study.png' %}" alt="Study Image" class="img-fluid   ">
      </div>
    </div>

  </div>
  <!-- center section end -->
   
  <!--product section start -->
  <div class="container mt-4">
    <h2 class="text-center mb-4">Our Popular Courses</h2>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/course1.jpg' %}" class="card-img-top p-4" alt="Course 1">
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">Learn the fundamentals of web development, including HTML, CSS, and JavaScript.</p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>

          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/course2.jpg' %}" class="card-img-top p-4 mt-3" alt="Course 2">
          <div class="card-body">
            <h5 class="card-title">Data Science</h5>
            <p class="card-text">Learn the basics of data science, including data analysis and visualization.</p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/course3.jpg' %}" class="card-img-top p-4" alt="Course 3">
          <div class="card-body">
            <h5 class="card-title">Machine Learning</h5>
            <p class="card-text">Learn the fundamentals of machine learning, including supervised and unsupervised
              learning.</p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/course4.jpg' %}" class="card-img-top p-4 mt-3 " alt="Course 4">
          <div class="card-body">
            <h5 class="card-title">C Programming</h5>
            <p class="card-text">Learn the basics of C programming, including syntax, data structures, and algorithms.
            </p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/course5.jpg' %}" class="card-img-top p-4 mt-3" alt="Course 5">
          <div class="card-body">
            <h5 class="card-title">Cybersecurity</h5>
            <p class="card-text">Learn the basics of cybersecurity, including network security, ethical hacking, and
              risk management.</p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/python.jpg' %}" class="card-img-top p-4 mt-3" alt="Course 6">
          <div class="card-body">
            <h5 class="card-title">Python Programming</h5>
            <p class="card-text">Learn the fundamentals of Python programming, including syntax, data structures, and
              algorithms.</p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/digital marketing.jpg' %}" class="card-img-top p-4 mt-3" alt="Course 8">
          <div class="card-body">
            <h5 class="card-title">Digital Marketing</h5>
            <p class="card-text">Learn the fundamentals of digital marketing, including SEO, social media marketing, and
              content marketing.</p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/course6.jpg' %}" class="card-img-top p-4 mt-3" alt="Course 6">
          <div class="card-body">
            <h5 class="card-title">Graphic Design</h5>
            <p class="card-text">Learn the principles of graphic design, including typography, color theory, and layout.
              Use design software to create stunning visuals.</p>
            <a href="{% url 'enquiry_form' %}" class="btn btn-primary">Enroll Now</a>
            <a href="{% url 'enquiry_form' %}" class="btn btn-danger">Book Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- product section end -->
  {% include "footer.html" %}
</body>

</html>